# dependencies
/node_modules

# build
/dist
/.vite
/.vercel

# env files
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor files
.vscode/
.idea/
.DS_Store

# misc
*.local
